@charset "UTF-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 1024px;
    height: 768px;
    overflow: hidden;
}

/* Alterado de #geral div para .geral > div para ser mais específico */
.geral>div {
    margin: 0px;
    padding: 0px;
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 1;
}

.geral>div.active {
    /* Manter esta classe se você tiver lógica para ela em outro lugar */
    z-index: 3;
}

a {
    display: block;
    position: absolute;
    z-index: 10;
}

#tela {
    background: url("../images/bg.png") no-repeat;
    width: 1024px;
    height: 768px;
    position: absolute;
    background-size: contain;
}

#tela1 {
    background: url("../images/bg1.png") no-repeat;
    width: 1024px;
    height: 768px;
    position: absolute;
    background-size: contain;
}

#tela2 {
    background: url("../images/bg2.png") no-repeat;
    width: 1024px;
    height: 768px;
    position: absolute;
    background-size: contain;
}

.btn_abrir_tela1 {
    position: absolute;
    display: block;
    left: calc(245px / 2);
    bottom: calc(26px / 2);
    width: calc(126px / 2);
    height: calc(118px / 2);
}

/* Botões da tela1 */
.fechar1 {
    position: absolute;
    display: block;
    right: calc(238px / 2);
    top: calc(180px / 2);
    width: calc(90px / 2);
    height: calc(90px / 2);
}

.btn_abrir_tela2 {
    position: absolute;
    display: block;
    right: calc(59px / 2);
    top: calc(643px / 2);
    width: calc(106px / 2);
    height: calc(118px / 2);
}

/* Botões da tela2 */
.voltar_tela1 {
    position: absolute;
    display: block;
    left: calc(40px / 2);
    top: calc(643px / 2);
    width: calc(106px / 2);
    height: calc(118px / 2);
}

.fechar_tudo {
    position: absolute;
    display: block;
    right: calc(238px / 2);
    top: calc(180px / 2);
    width: calc(90px / 2);
    height: calc(90px / 2);
}


/* Outros botões existentes */
.btn_home {
    position: absolute;
    display: block;
    left: calc(109px / 2);
    bottom: calc(26px / 2);
    width: calc(126px / 2);
    height: calc(118px / 2);
}

.btn {
    position: absolute;
    display: block;
    width: calc(496px / 2);
    height: calc(163px / 2);
    z-index: 10;
    bottom: 0;
}

.btn1 {
    left: calc(499px / 2);
}

.btn2 {
    left: calc(1030px / 2);
}

.btn3 {
    left: calc(1544px / 2);
}

.next {
    position: absolute;
    height: 564px;
    width: 80px;
    top: 92px;
    right: 0;
    z-index: 100;
}

.prev {
    position: absolute;
    height: 564px;
    width: 80px;
    top: 92px;
    left: 0;
    z-index: 100;
}