@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 1180px;
    height: 820px;
    overflow: hidden;
}

#geral {
    margin: 0;
    padding: 0;
    width: 1180px;
    height: 820px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#tela {
    background: url("../images/bg.png") no-repeat;
    width: 1180px;
    height: 820px;
    position: absolute;
    background-size: contain;
}

#tela1 {
    background: url("../images/bg1.png") no-repeat;
    width: 1180px;
    height: 820px;
    position: absolute;
    background-size: contain;
}

.btn_pop-up1 {
    position: absolute;
    display: block;
    bottom: calc(211px / 2);
    width: calc(70px / 2);
    height: calc(70px / 2);
    right: calc(93px /2);
}

.fechar1 {
    position: absolute;
    display: block;
    right: calc(140px / 2);
    top: calc(136px / 2);
    width: calc(90px / 2);
    height: calc(90px / 2);
}

.btn_menu {
    position: absolute;
    display: block;
    bottom: calc(24px / 2);
    width: calc(231px / 2);
    height: calc(94px / 2);
}

.btn_menu_1 {
    left: calc(175px /2);
}

.btn_menu_2 {
    left: calc(475px /2);
}

.btn_menu_3 {
    left: calc(771px /2);
}

.btn_menu_4 {
    left: calc(1083px /2);
}

.btn_menu_5 {
    left: calc(1346px /2);
}

.btn_menu_6 {
    left: calc(1628px /2);
}

.btn_bula {
    position: absolute;
    display: block;
    bottom: calc(43px / 2);
    width: calc(70px / 2);
    height: calc(70px / 2);
    right: calc(239px /2);
}

.next {
    position: absolute;
    height: 564px;
    width: 62px;
    top: 92px;
    right: 0;
    z-index: 100;
}

.prev {
    position: absolute;
    height: 564px;
    width: 62px;
    top: 92px;
    left: 0;
    z-index: 100;
}