@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 1180px;
    height: 820px;
    overflow: hidden;
}

#geral {
    margin: 0;
    padding: 0;
    width: 1180px;
    height: 820px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#tela {
    background: url("../images/bg.png") no-repeat;
    width: 1180px;
    height: 820px;
    position: absolute;
    background-size: contain;
}

.btn_menu {
    position: absolute;
    display: block;
    bottom: calc(24px / 2);
    width: calc(231px / 2);
    height: calc(94px / 2);
}

.btn_menu_1 {
    left: calc(271px /2);
}

.btn_menu_2 {
    left: calc(568px /2);
}

.btn_menu_3 {
    left: calc(870px /2);
}

.btn_menu_4 {
    left: calc(1158px /2);
}

.btn_menu_5 {
    left: calc(1447px /2);
}

.btn_menu_6 {
    left: calc(1735px /2);
}

.btn_bula {
    position: absolute;
    display: block;
    bottom: calc(43px / 2);
    width: calc(70px / 2);
    height: calc(70px / 2);
    right: calc(239px /2);
}

.next {
    position: absolute;
    height: 564px;
    width: 62px;
    top: 92px;
    right: 0;
    z-index: 100;
}

.prev {
    position: absolute;
    height: 564px;
    width: 62px;
    top: 92px;
    left: 0;
    z-index: 100;
}

.next-bula {
    position: absolute;
    bottom: calc(325px / 2);
    width: calc(58px / 2);
    height: calc(58px / 2);
    right: calc(226px /2);
}

.prev-bula {
    position: absolute;
    bottom: calc(325px / 2);
    width: calc(58px / 2);
    height: calc(58px / 2);
    right: calc(372px /2);
}